
.cursor {
  cursor: pointer;
  padding: 3px !important;
}


.header-container {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
  background-color: var(--blue-900) !important;

  font-family: 'Kanit', sans-serif !important;
}


.logo {
  font-weight: bold !important;
  margin: 0 3px !important;

}

.text-decorator-none {
  text-decoration: none;
  color: var(--white);
}


@media(max-width: 878px) {
  .nav-bar {
    padding: 0.677rem !important;
    justify-content: space-evenly !important;
    /* display: none !important; */
  }

  .logo {
    font-size: 1.4rem !important;
  }

  .tituloNav {
    padding: 0 !important;
    font-size: 1rem !important;
  }
}

