.cardContent {
  border: 2px solid var(--blue-700) !important;
  font-family: 'Dongle', sans-serif !important;

}

.post, .data  {
  text-align: end;
  font-weight: bold !important;
  color: rgb(179, 179, 179);
  font-size: 8px !important;
}

.titlePost {
  color: var(--blue-900);

}

.btnAtualizar {
  background-color: var(--blue-900) !important;
  font-size: 12px !important;
  color: var(--white) !important;
  border: none;
}