.cardContent {
  border: 2px solid var(--blue-700) !important;
}

.post, .data  {
  text-align: end;
  font-weight: bold !important;
  color: rgb(196, 196, 196);
  font-size: 10px !important;
}

.post {
  margin-top: 2rem !important;
}

.titlePost {
  color: var(--blue-900);

}

.btnAtualizar {
  background-color: var(--blue-900) !important;
  font-size: 12px !important;
  color: var(--white) !important;
  border: none;
}