.cursor {
  cursor: pointer;
}

.btnModal {
  color: var(--white)!important;
  border-color: var(--blue-700) !important;
  background-color: var(--blue-900) !important;
  margin-bottom: 2rem !important;
  width: 200px !important;
  height: 40px !important;
}

@media(max-width: 760px) {
  .btnModal {
    width: 100px !important;
    padding: 3rem !important;
    margin-bottom: 1rem !important;
  }
}