 .MuiTypography-h3 {
  color:#115586 !important;
  text-align: center !important;
  font-weight: bold;
  margin-top: 2rem;
 }


 .MuiButton-root {
  background-color:#115586 !important;
  color: white !important;
 }

 .grid-image {
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cove;
  background-position: center;
  background-image: url(../../assets/login.svg) !important;
  background-color: #115586 !important;
 }