 .text-enter {
  color:var(--blue-900) !important;
  text-align: center !important;
  font-weight: bold !important;
  font-family: 'Kanit', sans-serif !important;
 }

 .MuiOutlinedInput-input {
  padding: 26px 14px !important;
 }
 .button-login {
  background-color: transparent !important;
  font-weight: bold !important;
  
  border: 1px solid var(--blue-900 )!important;
  margin: 1rem 0 2rem 0 !important;  
  font-family: 'Kanit', sans-serif !important;
}


.grid-image {
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-position: center;
  background-image: url(../../assets/login.svg) !important;
  background-size: 38%;
  background-repeat: no-repeat;
  background-position: left bottom;


  font-family: 'Kanit', sans-serif !important;
}

.box-form {
  margin-top: 4rem !important;
  padding: 0rem  6rem !important;
}

.box-form .MuiTextField-root {
  font-family: 'Dongle', sans-serif !important;

}

.color-text {
  color: var(--blue-900) !important;
  font-family: 'Dongle', sans-serif !important;

}
 

@media(max-width: 698px) {
  .conta {
      font-size: 12px !important;
  }

  .grid-image {
    background-size: 60%;
  }
  
  .enter {
    font-size: 2rem !important;
  }

  .button-login {
    width: 70px;
    font-size: 2rem;
  }
}