 .text-enter {
  color:var(--blue-900) !important;
  text-align: center !important;
  font-weight: bold !important;
 }


 .button-login {
  background-color: transparent !important;
  font-weight: bold !important;
  
  border: 1px solid var(--blue-900 )!important;
  margin: 1rem 0 2rem 0 !important;  
}


.grid-image {
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-position: center;
  background-image: url(../../assets/login.svg) !important;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: left bottom;
  /* background-color: var(--blue-700) !important; */
}

.box-form {
  margin-top: 4rem !important;
}

.color-text {
  color: var(--blue-900) !important;
}
 

@media(max-width: 698px) {
  .conta {
      font-size: 12px !important;
  }

  .grid-image {
  background-size: 50%;
  }
}