.box-grid {
  background-color: var(--blue-900)!important;
  background-image: url(../../assets/people1.svg) !important;
  background-size: 30%;
  background-position: 12% top;
  background-repeat: no-repeat;
}

.boxHome {
  padding: 8rem 0 4rem 0!important;
}

.typography {
  color: var(--white) !important;
}

.button-box {
  border-color: var(--blue-700)!important;
  background-color: transparent !important;
  color: var(--white)!important;
  margin-bottom: 2rem !important;
  width: 200px !important;
  height: 40px !important;
}



@media(max-width: 960px) {
  .box-grid{
    background-size: 35%;
  }

  .boxHome {
    padding: 7rem  0 2rem  0!important;
  }

  .boxHome .typography {
    font-size: 1.3rem !important;
    text-align: center;
  }

  .button-box{
    margin-bottom: 1rem !important;
  }
  
}


@media(max-width: 560px) {
  .box-grid{
    background-size: 55%;
   background-position: 10% 3%;

  }
}