.box-grid {
  background-color: var(--blue-900)!important;

}

.typography {
  color: var(--white);
  font-weight: bold;
}

.button-box {
  border-color: var(--blue-700)!important;
  background-color: transparent !important;
  color: var(--white)!important;
  margin-top: 1rem !important;
}

.modalPost {
  margin-top: 1rem !important;
  border-color: var(--blue-700)!important;

}