.btnSim {
  background-color: var(--red-900) !important;
  font-size: 12px !important;
  color: var(--white) !important;
  border: none;
}

.btnNao {
  background-color: var(--red-900) !important;
  font-size: 12px !important;
  color: var(--white) !important;
  border: none;
}