.text-cadastrar {
  color: var(--blue-900) !important;
  text-align: center;
  font-weight: bold !important;
}

.grid-image2 {
  min-height: 100vh;
  background-image: url(../../assets/cadastro.svg) !important;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.grid-form form {
  padding: 10rem !important;
}


.button-canc {
  background-color: rgb(207, 22, 22) !important;
  color: var(--white) !important;
  font-weight: 700 !important;
  margin-right: 20px !important;
}

.button-cadastrar  {
  background-color: var(--blue-700) !important;
  color: var(--white) !important;
  font-weight: 700 !important;
}