.text-cadastrar {
  color: var(--blue-900) !important;
  text-align: center;
  font-weight: bold !important;
}

.grid-image2 {
  /* min-height: 90vh; */
  background-image: url(../../assets/cadastro.svg) !important;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: -6% bottom;
}

.grid-form form {
  padding: 6rem  10rem !important;
}

.button-canc {
  background-color: rgb(207, 22, 22) !important;
  color: var(--white) !important;
  font-weight: 700 !important;
  margin-right: 20px !important;
  width: 100px !important;
}

.button-cadastrar  {
  background-color: var(--blue-700) !important;
  color: var(--white) !important;
  font-weight: 700 !important;
  width: 100px !important;

}



@media(max-width: 1200px) {
  .button-canc {
    justify-items: center;  
    margin: 7px 10px !important;
  }

  .button-cadastrar {
    margin: 0 auto !important;
  }

  .grid-image2 {
    background-size: 40%;
    background-position: -10% bottom;
  }

  .text-cadastrar {
    font-size: 2rem !important;
  }

  .grid-form form {
    padding: 5rem  4rem !important;
  }
}

@media(max-width: 870px) {
  .grid-image2 {
    background-size: 55%;
  }
}