
:root {
  --blue-900: #002642;
  --blue-700: #115586 ;
  --white: rgb(237, 235, 235);
}


  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
  }

  /* scroll estilizado */

  ::-webkit-scrollbar {
    background-color: var(--blue-700);
    width: 0.7rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--blue-900);
    border-radius: 0.4rem;
  }


  /* //Pagina não encontrada */
  .no-found {
    min-height: 100vh;
    background-image: url(./assets/nofound2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
  }

  .no-found p {
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0 0 0;
    color: var(--blue-900);
  }

